.item {
    background-color: white;
    margin-bottom: 10px;
}

li {
    display: table-cell;
}

img {
    position: relative;
    float: inherit;
}

span.Id_List_new {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.Id_List {
    margin-left: 13px;
}

.search_div {
    margin-bottom: 6px;
}

/*lightSlider*/

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}

.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
    float: left;
}

